---
// Top dispatch ribbon
---
<div class="ribbon">
  <div class="ribbon-inner">
    <div class="ribbon-left">
      <span><span class="accent">VOL. I</span> · Issue 04</span>
      <span class="hide-sm">F&amp;B Investment Intelligence</span>
    </div>
    <div class="ribbon-right">
      <span class="hide-sm">Bangkok · Tokyo · Singapore</span>
      <span class="dot"></span>
      <span>EST. 2026</span>
    </div>
  </div>
</div>
